<!--templates/partials/album_form.html-->
<fieldset>
        <legend>{{title}}</legend>
        <!-- TITLE -->

        <a href='/'>Back to Home</a>

        <div class='form_group'>
            <label for='title'>Title</label><br>
            <input id='title' type='text' name='title' value='{{ album.title }}'/>
        </div>

        <!-- DESCRIPTION -->
        <div class='form_group'>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' value='{{ album.description }}' />
        </div>
        <div class='form_group'>
            <label for='year_released'>Year Released</label><br>
            <input id='year_released' type='text' name='year_released' value='{{ album.year_released }}'/>
        </div>
        <div class='form_group'>
            <label for='category'>Category</label><br>
            <input id='category' type='text' name='category' value='{{ album.category }}'/>
        </div>

        
        <button type='submit'>Save Album</button>
        

    </fieldset>